{% extends "base.html" %}
{% block title %} {{ post.title }} 借還書系統 {% endblock %}
{% block headmessage %}
    <div class="card" style="background-color:#f70ea;">
        <div class="card"; style="background-color:#842B00;">
            <h3 style="font-family:微軟正黑體; font-weight:bold;  font-size: 22pt; background-color:#F7F0EA; margin-left: 10px; margin-bottom: 0px; padding: 10px">借還書系統
            
            <a class="btn btn-sm" style=" font-family:微軟正黑體; font-weight:bold;background-color:#b8a3b4;font-size:15pt; margin-top: 10px; float: right; margin-top: 0px; margin-right: 0px;" href='/'>回首頁</a>
            </h3>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if books %}
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="font-family:微軟正黑體; font-weight:bold;  font-size: 22pt;">
                    <div>
                        <strong>{{ book.title }}</strong> - {{ book.write }}
                        {% if book.isBorrow %}
                        <span style="font-size: 20pt;color:white;background-color:#013E41;border: 1px soild white; padding: 3px; border-radius: 3px;">外借中</span>
                        {% else %}
                            <span style="font-size: 20pt;color:white;background-color:#6E4740;border: 1px soild white; padding: 3px; border-radius: 3px;">可借閱</span>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'borrow_book' book.id %}" class="btn btn-primary btn-sm" style="font-family:微軟正黑體; font-weight:bold;  font-size: 16pt; background-color:#5B7493;" >我要借書</a>
                        <a href="{% url 'return_book' book.id %}"onclick="alert('確認歸還此書嗎')" class="btn btn-warning btn-sm"  style="font-family:微軟正黑體;font-weight:bold;font-size: 16pt; background-color:#f1e2c1;">我要還書</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books available.</p>
    {% endif %}
    <a class="btn btn-sm" style=" font-family:微軟正黑體; font-weight:bold; background-color:#b8a3b4;font-size:15pt; margin-top: 10px;" href='/'>回首頁</a>
{% endblock %}