<!-- header.html -->
<br>
<h1 style="font-family:微軟正黑體;font-weight:bolder;font-size:45pt;background-color:C9D6E2;color:233A48;">正妹圖書館&#x1F516;</h1> 
<p align="right ">
{%if request.user.is_superuser%}
    歡迎管理者:{{user}}
{%else%}
    歡迎使用者:{{user}}
{%endif%}
    
<form methon="POST" action="/search/">    
    <label for="site-search;"  style="font-family:微軟正黑體;font-weight:bolder;font-size:24pt;">搜尋書籍:</label> 
    <input type="text" id="site-search" name="q"  style="font-family:微軟正黑體;font-weight:bolder;font-size:24pt;">
    <button type="submit" style="font-family:微軟正黑體;font-weight:bolder;font-size:22pt;">&#x1F50E;</button></p>
</form>
<marquee behavior=alternate><font size="5" style="font-family:微軟正黑體;font-weight:bolder">&#x1F4D1;歡迎來到正妹圖書館!! &#x1F4C6;開館時間:&#x1F556;早上7:00 閉館時間:&#x1F554;下午17:00 &#x3297;我們不會被當 &#x3297;all pass</marquee></font>
<font size="5" style="font-family:微軟正黑體;font-weight:bolder;background-color:FFFFFF;" >組員名單: 11056016-黃子緁 11056024-賴顗翔 </font><br>
{% load static %}
<div class='well'><body background="https://i.pinimg.com/564x/c3/ee/ae/c3eeaee5ee30eb8aa578e013f87bf029.jpg">
</div>
