{% extends 'base.html' %}
{% block title %} 歡迎光臨正妹圖書館 {% endblock %}
{% block headmessage %} 
    <h3 style='font-family:標楷體;'>本館書籍列表</a>
{% endblock %}
{% block content %} 
     {% for post in posts %}
    <div class='card' style='background-color:#D2E9FF'>
        <div class='card-header'>
            <p style='font-family:微軟正黑體;font-size:20pt;font-weight:bolder;'>
                <a href='/post/{{post.slug}}' style="color:9F5000">{{ post.title }}</a>
            </p>
        </div>
        <div class='card-body' style='background-color:#ffffdd'>
            <p>
               {{ post.body | truncatechars:40 }}
            </p>
        </div>
        <div class='card-footer'  style='background-color:#D2E9FF;font-weight:bold;font-size:14pt;'>
            <p>
                發佈時間：{{ post.pub_date | date:"Y M d, h:m:s A"}}
            </p>
        </div>
    </div>
    <br><!--一個card放一行-->
    {% endfor %}
{% endblock %}


