<html>
<head>
    <title>登入系統</title>
    <h1><a class="btn btn-sm" style="background-color:#9F5000;color: #FFFFFF; margin-top:20px"href='/'>回首頁</a></h1>
</head>
<body>

<h2>登入</h2>

<form action="login.php" method="post">
    <label for="username">帳號：</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">密碼：</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="登入">
</form>

</body>
</html>