<html>
<head>
    <title>登入系統</title>
    <h1><a class="btn btn-sm" style="font-size:20px" align="center" href='/'>回首頁</a></h1>
</head>
<body>

<h2 style="font-size:30pt;background-color:#D3D2DF;" align="center">登入帳密</h2>

<form action="login.php" method="post" align="center">
    <label for="username" style="color:1D5F53;font-size:24pt;font-weight:bolder">帳號：</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password" style="color:1D5F53;font-size:24pt;font-weight:bolder">密碼：</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="登入" style="font-size:16pt;font-weight:bold;">
</form>

</body>
</html>