{% extends 'base.html' %}<!--會先繼承base裡面的網站 然後如果後面有提到block ...就是post的把base的蓋掉-->

{% block title %}評論區{% endblock title %}<!--存到資料庫-->
{% block headmessage %} 
{% endblock headmessage %}
{% block content %}<!--在裡面放表單-->
<h2 style='font-family:微軟正黑體;font-size:24pt;font-weight:bold;'>評論留言 </h2>
{% if message %}<!--這邊的message是在views裡面的-->
    <div class='alert alert-warning'>
         {{ message }}
    </div>
{% endif %}
<form action="" method="post" style='font-family:微軟正黑體;font-weight:bold;font-size:18pt;'>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type='submit' value='送出'>
    <input type="reset" value='清除重填'>
</form>
<div class="row">
    {% for p in posts %}<!--名字要跟views的一樣 不然會抓不到-->
     <div class="col-sm-12 col-md-4">
        <div class='card'>
            <div class='card-header 'align='left' style='background-color:#5B7493; color:#ffffff;font-family:微軟正黑體;font-size:18pt;font-weight:bold;'>【{{ p.nickname }}】心情:{{ p.mood }}</div>
            <div class='card-body' style="background-color:#F5F4F0; font-family:微軟正黑體;font-size:14pt;font-weight:bold;">{{ p.message | linebreaks }}</div>
            <div class='card-footer' align='right' style='background-color:#5B7493; color:#ffffff; font-family:微軟正黑體;font-size:12pt;font-weight:bold;'>
                <i><small>{{ p.pub_time }}</small></i>
                <i  class="bi bi-trash"  onclick='go_delete({{p.id}})'></i>

            </div>
        </div>
    </div>
    {% empty %}
        目前沒有任何心情留言
    {% endfor %}
</div> 
{% endblock content %}