{% extends "base.html" %}
{% block title %} 個人資料維護 {% endblock title %}
{% block headmessage %} 
{% endblock headmessage %} 

{% block content %}

<h2 style='font-family:微軟正黑體;font-size:24pt;font-weight:bold;'>個人資料更改</h2>
{% if message %}
    <div class='alert alert-warning'>
         {{ message }}
    </div>
{% endif %}
<form action="" method="post" style='font-family:微軟正黑體;font-weight:bold;font-size:18pt;'>
    {% csrf_token %}
    <ul>
  {{ form.as_ul }}
    </ul>
  <input type='submit' value='儲存'>
  <input type='reset' value='清除'>
</form> 

{% endblock content %}